{% extends "base.html" %}
{% block title %}
List of notes
{% endblock title %}

{% block body %}
<h1> List of Notes</h1>
<div class="container">


<table class="table">
  <thead>
    <tr>
    </div>        
      <th scope="col">id</th>
      <th scope="col">Title</th>
      <th scope="col">description</th>
      <th scope="col">Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for note in notes %}
    <tr>
      <th>{{forloop.counter}}</th>
      <td>{{note.title}}</td>
      <td>{{note.description}}</td>
      <td>{{note.date}}</td>
      <td>
        <a href="note/{{note.id}}/edit" class = "btn btn-primary">Edit</a>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div>
{% endblock body %}